# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
.venv*/
env/
env*/
.conv/*
.conv/   # In your case, this is your venv
*.egg-info/

# Django
*.log
*.sqlite3

media/
static_prod/
# VSCode / IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
.env
gunicorn.sock

placeholder.html
