

/* Container for download links */
.pdf-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center content horizontally */

    gap: 20px; 
    padding: 20px;
    max-width: fit-content;
    margin: 30px auto;
    background-color: var(--header-footer-bg); 
    border-radius: 10px;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
}



.pdf-container p a:hover {
    color: #117a8b;
}

/* Download Button */

.download-btn {
    display: inline-block;
    padding: 12px 30px;

    background-color: #007bff; 
    color: white !important; 
    text-decoration: none; 
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.1s ease;
   
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.download-btn:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.download-btn:active {
    transform: translateY(1px); 
}