{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}A file converter by Hakez Labs{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block stylesheets %}
    <!-- Additional stylesheets can be included here -->
    {% endblock %}
</head>
<body>

<header>
    <div class="headerlogo">
    <img src="{% static 'images/hakezlabs.png' %}" alt="hakez labs logo" class="logo">
    <h1> File Converter</h1>
    </div>
    <nav>
        <ul>
           
            <li><a href="{% url 'about' %}">About</a></li>
        </ul>
    </nav>
</header>

<main>
    {% block content %}
    <!-- Default content here -->
    {% endblock %}
</main>

<footer>
    {% block footer %}
    <p>© 2025 Hakez.Labs</p>
    {% endblock %}
</footer>

</body>
</html>
